<h1>Welcome!</h1>
<p>The actual language in this application is: <strong><%= locale(I18n.locale) %></strong></p>
<p><strong>Date:</strong> <%= l(Date.today) %></p>
<p><%= t('hello') %></p>
<%= render "menu" %>
 
<p>
    You are in <strong><%= ambiente_rails %> </strong> enviroment.
</p>