<p>
  <%= link_to 'Idioma Português', root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to 'English', root_path(locale: 'en') %>
</p>

<h1>Welcome!</h1>
<p>The actual language in this application is: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Date:</strong> <%= l(Date.today) %></p>
<p><%= t('hello') %></p>
<%= render "menu" %>
 
<p>
    You are in <strong><%= ambiente_rails %> </strong> enviroment.
</p>